<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.myweb.www.repository.BoardDAO">
		<insert id="insert">
			insert into board(board_title, board_writer, board_content, board_img, board_user)
    		values(#{boardTitle}, #{boardWriter}, #{boardContent}, #{boardImg}, #{boardUser});
		</insert>
		<select id="count" resultType="int">
			SELECT COUNT(*) FROM BOARD <include refid="search"></include>
		</select>
		<select id="list" resultType="bvo">
			  select a.board_num, board_title, board_writer, board_reg_date, board_count from (
			  	select board_num from board 
			  	<include refid="search"></include>
			  	order by board_num  
			  	limit #{pageStart}, #{qty}
			  ) a left join board b
			  on a.board_num = b.board_num 
		</select>
		  <sql id="search">
		  	<if test="type != null">
		  		<trim prefix="and (" suffix=")" prefixOverrides="OR">
		  			<foreach collection="typeToArray" item="type">
		  				<trim prefix="OR">
		  					<choose>
		  						<when test="type=='t'.toString()">
		  							board_title like concat('%', #{keyword}, '%')
		  						</when>
		  						<when test="type=='c'.toString()">
		  							board_content like concat('%', #{keyword}, '%')
		  						</when>
		  						<when test="type=='w'.toString()">
		  							board_writer like concat('%', #{keyword}, '%')
		  						</when>
		  					</choose>
		  				</trim>
		  			</foreach>
		  		</trim>
		  	</if>
		  </sql>
	</mapper>    